.header {
  /* border: 1px solid red; */
  background-color: #272e71;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 55px;
  width: 100%;
  /* padding: 0 2rem; */
}

.nav {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 400;
}

.searchIcon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  /* border: 1px solid red; */
  border-radius: 5px 0 0 5px;
  height: 100%;
  padding: 0 14px;
  background-color: #fff;
  /* font-size: 1.5rem; */
}

/* revisit */
.search {
  width: 31.25rem;
  width: 500px;
  height: 27px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 5px;
  color: #374151;
  background-color: #fff;
}

input[type="search"] {
  /* background-color: transparent; */
  height: 100%;
  /* width: 100%; */
  flex: 1 1 100%;
  outline: none;
  border-radius: 5px 0 0 5px;
  color: #374151;
  padding: 0 9px;
  border: none;
  /* appearance: none; */
}

input[type="search"]::placeholder {
  color: #374151;
  font-size: 0.75rem;
}

.userImage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.menu {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
  width: fit-content;
}

.menuIcons {
  /* border: 1px solid blue; */
  font-size: 1.1rem;
}

.menuPair {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: nowrap;
}
