.header {
  /* border: 1px solid red; */
  /* background-color: #fff; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 55px;
  padding: 0 12.5%;
}

.logo {
  border: 0.1px solid white;
  width: 140px;
  height: 26.29px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 0.8rem;
}

.searchIcon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  /* border: 1px solid red; */
  border-radius: 5px 0 0 5px;
  height: 100%;
  padding: 0 14px;
  background-color: #fff;
  /* font-size: 1rem; */
  /* width: 44px; */
  box-sizing: content-box;
}

/* revisit */
.search {
  width: 31.25rem;
  /* width: 500px; */
  height: 27px;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 5px;
  /* color: #374151; */
  background-color: #fff;
  margin: 0 auto 0 8.85%;
}

input[type="search"] {
  height: 100%;
  flex: 1 1 100%;
  outline: none;
  border-radius: 5px 0 0 5px;
  color: #374151;
  padding: 0 9px;
  border: none;
}

input[type="search"]::placeholder {
  color: #374151;
  font-size: 0.75rem;
}

.userImage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.menu {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
  width: fit-content;
}

.menuIcons {
  /* border: 1px solid blue; */
  font-size: 1.1rem;
}

.menuPair {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: nowrap;
}
