.header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  max-width: 1440px;
  margin: 0 2rem;
}

.logo {
  width: 140px;
  height: 26.29px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0 2rem;
}

.searchIcon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  border-radius: 5px 0 0 5px;
  height: 100%;
  padding: 0 14px;
  background-color: #fff;
  box-sizing: content-box;
}

.search {
  width: 31.25rem;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto 0 8.85%;
}

input[type="search"] {
  height: 100%;
  flex: 1 1 100%;
  outline: none;
  border-radius: 5px 0 0 5px;
  color: #374151;
  padding: 0 9px;
  border: none;
}

input[type="search"]::placeholder {
  color: #374151;
  font-size: 0.75rem;
}

.userImage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
  width: fit-content;
}

.menuIcons {
  font-size: 1.1rem;
}

.menuPair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: nowrap;
}

@media all and (max-width: 992px) {
  .header {
    justify-content: space-between;
    margin: 0 1rem;
  }

  .nav {
    margin: 0;
  }

  .search,
  .menu {
    display: none;
  }
}
