@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.textStyle {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

/* Books display section */
.ul {
  border-bottom: 1px solid #e8e8e8;
  padding: 0 0 2.5rem;
  margin: 2.313rem 6.25rem 1.813rem;
  gap: 0.938rem;
}

.bookcard {
  list-style: none;
  justify-content: flex-start;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
  padding: 2rem 1.688rem 1.625rem;
}

.bookDetails {
  width: 45%;
}

.bookDetails p:nth-child(1) {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
  opacity: 0.5;
  margin: 0 0 0.25rem;
}

.bookDetails p:nth-child(2) {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  color: #121212;
  letter-spacing: -0.2px;
  margin: 0;
}

.bookDetails p:nth-child(3) {
  margin: 0 0 1.125rem;
}

.bookDetails button {
  border: none;
  background-color: #fff;
  padding: 0;
}

.bookDetails .remove {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  padding: 0 0.938rem 0 1.063rem;
  margin: 0 1.063rem 0 0.938rem;
}

.bookDetails .remove:hover {
  color: #fff;
  background-color: #4386bf;
  border-radius: 3px;
  border-left: 1px solid #4386bf;
  border-right: 1px solid #4386bf;
}

.progress {
  gap: 3.668rem;
}

.progress .percentage {
  gap: 1.375rem;
  padding-right: 4.938rem;
  border-right: 1px solid #e8e8e8;
}

.text p:nth-child(1) {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #121212;
  margin: 0;
}

.text p:nth-child(2) {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  color: #121212;
  opacity: 0.5;
  margin: 0;
}

.chapter p:nth-child(1) {
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
  opacity: 0.5;
  margin: 0 0 0.438rem;
}

.chapter p:nth-child(2) {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
  margin: 0 0 1.438rem;
}

.chapter button {
  background-color: #0290ff;
  border: none;
  border-radius: 3px;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.5px;
  width: 11.5rem;
  height: 2.063rem;
}

/* form 16.563rem */
.formSection {
  margin: 0 6.25rem 2.313rem;
  font-family: 'Montserrat', sans-serif;
}

.formSection .title {
  font-size: 1.25rem;
  font-weight: bold;
  font-style: normal;
  color: #888;
  margin: 0;
  letter-spacing: -0.18px;
  margin-bottom: 1.188rem;
}

.formSection form {
  gap: 2.125rem;
}

.formSection input {
  height: 2.813rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 1.063rem;
  outline: none;
}

.formSection input:nth-child(1) {
  flex: 2 2 auto;
}

.formSection input:nth-child(2) {
  flex: 0.75 0.75 auto;
  max-width: 17.813rem;
}

.formSection input::placeholder {
  color: #c4c4c4;
  font-size: 1rem;
}

.formSection input:focus {
  outline: 1px solid #4caf50;
}

.formSection button {
  height: 2.813rem;
  max-width: 11.5rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  flex: 0.5 0.5 auto;
}

.formSection button:hover {
  background-color: #fff;
  border: 1px solid #0290ff;
  color: #0290ff;
}

@media all and (max-width: 768px) {
  .progress {
    flex-wrap: wrap;
  }

  .bookDetails {
    flex: 1 1 100%;
  }
}
