.mainContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  padding: 20px 0;
  margin: 0 2rem;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.company {
  font-size: 14px;
  margin: 0;
}

.profileIconCont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 40px;
  padding: 0 8px;
}

.profileIconCont .text {
  margin-right: auto;
}

.aside {
  width: calc(140px + 1.875rem + 8.85%);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainSection {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: #6b7280;
  font-size: 14px;
}

.btn {
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

.sectionContainers {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
}

.sectionContainers h3 {
  font-weight: 600;
  font-size: 16px;
}

.productDetails {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.product h3 {
  padding: 0 20px;
  margin: 15px 0;
}

.product {
  min-width: calc(200% / 3);
  position: relative;
  border-right: 1px solid #e5e7eb;
}

.product img {
  width: 100%;
  aspect-ratio: 746 / 300;
  object-fit: cover;
}

.product .category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-right: 10px;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px 0;
  position: absolute;
  top: 0;
  background-color: #fff;
}

.breadcrumbs span:last-child {
  font-weight: 600;
}

.softwareIcon {
  color: #fff;
  height: 100%;
  padding: 10px;
  width: 40px;
  border-radius: 6px 0;
}

.trashIcon {
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #6b7280;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0 6px;
}

.product p {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
  padding: 0 20px 20px;
}

.userInfo {
  min-width: calc(100% / 3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userInfo .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 200px;
  height: auto;
}

.addressCont {
  display: flex;
  color: #6b7280;
  font-size: 14px;
  gap: 5px;
  margin-top: -20px;
}

.addressIcon {
  width: 16px;
  height: 16px;
}

.addressCont p {
  line-height: 20px;
}

.mapContainer {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.mapContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.productVideo {
  padding: 20px;
}

.videoInputCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.videoInput {
  height: 38px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 0 10px;
  color: #374151;
  width: 100%;
}

.videoInput::placeholder {
  color: #6b7280;
}

.videoFixer {
  max-width: 715px;
  max-height: 402px;
  margin: 20px auto 0;
  overflow: hidden;
}

.vidCont {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.productVideo iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.productOffer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offers {
  display: grid;
  grid: auto / 1fr 1fr;
  gap: 20px;
}

.offerCont {
  display: flex;
  gap: 5px;
}

.offerCont .textCont {
  color: #6b7280;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textCont p {
  font-size: 16px;
  height: 24px;
}

.offerItemCont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 14px;
}

.offerItem {
  background-color: #e5e7eb;
  padding: 5px 14px;
  border-radius: 20px;
}

.offerIcon {
  width: 24px;
  height: 24px;
  color: #9ca3af;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc((100vh - 95px) / 3);
  color: #aeadad;
}

.editBtnCont {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.editBtnCont button {
  border-radius: 6px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  height: 30px;
  border: none;
  color: #6b7280;
  background-color: #fff;
}

.editBtnCont .saveBtn {
  background-color: #9496b9;
  color: #fff;
}

.richEdit {
  margin: 0 20px;
}

@media all and (max-width: 992px) {
  .mainContainer {
    margin: 0 1rem;
  }

  .aside {
    display: none;
  }

  .mainSection {
    width: 100%;
  }

  .userInfo {
    flex-direction: row;
    width: 100%;
  }

  .userInfo .text {
    width: 50%;
  }

  .header {
    gap: 20px;
  }

  .productDetails,
  .header {
    flex-direction: column;
  }

  .product {
    border: none;
  }

  .offers {
    grid: auto / 1fr;
  }
}

@media all and (max-width: 600px) {
  .userInfo {
    flex-direction: column;
  }
}
