.mainContainer {
  border: 2px solid blueviolet;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 1.5rem;
  /* height: 55px; */
  padding: 0 12.5%;
}

.profileContainer {
  color: #374151;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 15px;
}

.userImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* .profileDetails {
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  width: fit-content;
} */

.name {
  font-size: 18px;
  font-weight: 600;
  /* border: 1px solid green; */
  margin: 0;
}

.company {
  font-size: 14px;
  /* border: 1px solid brown; */
  margin: 0;
}

.profileIconCont {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 40px;
  padding: 0 8px;
}

.profileIconCont .text {
  margin-right: auto;
}

.aside {
  border: 1px solid blue;
  min-width: calc(8.85% + 140px + 3rem);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainSection {
  border: 2px solid grey;
  /* width: 100%; */
  flex: 1 1 100%;
  min-width: 80%;
}

.header {
  border: 1px solid blue;
  display: flex;
  /* align-items: center; */
  align-items: self-start;
  justify-content: space-between;
}

.breadcrumbs {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: #6b7280;
  font-size: 14px;
}

.breadcrumbs span:last-child {
  font-weight: 600;
}

.btn {
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}
