.mainContainer {
  /* border: 5px solid blueviolet; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  padding: 20px 0;
  margin: 0 2rem;
}

.profileContainer {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 15px;
}

.userImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  font-weight: 600;
  /* border: 1px solid green; */
  margin: 0;
}

.company {
  font-size: 14px;
  /* border: 1px solid brown; */
  margin: 0;
}

.profileIconCont {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 40px;
  padding: 0 8px;
}

.profileIconCont .text {
  margin-right: auto;
}

.aside {
  /* border: 1px solid blue; */
  width: calc(140px + 1.875rem + 8.85%);
  /* min-width: calc(8.85% + 140px + 3rem); */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainSection {
  /* border: 1px solid grey; */
  /* width: 100%; */
  flex: 1 1 100%;
  /* min-width: 80%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  /* border: 1px solid blue; */
  display: flex;
  /* align-items: center; */
  align-items: self-start;
  justify-content: space-between;
}

.breadcrumbs {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: #6b7280;
  font-size: 14px;
}

.breadcrumbs span:last-child {
  font-weight: 600;
}

.btn {
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

.sectionContainers {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
}

.sectionContainers h3 {
  /* border: 1px solid red; */
  font-weight: 600;
  font-size: 16px;
}

.productDetails {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid red; */
}

.product h3 {
  padding: 0 20px;
  margin: 15px 0;
}

.product {
  width: calc(200% / 3);
  position: relative;
  border-right: 1px solid #e5e7eb;
  /* border: 3px solid brown; */
}

.product img {
  width: 100%;
  aspect-ratio: 746 / 300;
  object-fit: cover;
  /* border: 1px solid brown; */
}

.product span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-right: 10px;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px 0;
  position: absolute;
  top: 0;
  background-color: #fff;
}

.softwareIcon {
  color: #fff;
  height: 100%;
  padding: 10px;
  width: 40px;
  border-radius: 6px 0;
}

.product p {
  /* border: 1px solid red; */
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
  padding: 0 20px 20px;
  /* font-weight: 600; */
}

.userInfo {
  /* border: 3px solid burlywood; */
  width: calc(100% / 3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 200px;
  height: auto;
}

.addressCont {
  /* border: 1px solid red; */
  display: flex;
  color: #6b7280;
  font-size: 14px;
  gap: 5px;
  margin-top: -20px;
}

.addressIcon {
  width: 16px;
  height: 16px;
}

.addressCont p {
  line-height: 20px;
}

.mapContainer {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.mapContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Continue userInfo styling */

.productVideo {
  padding: 20px;
}

.videoFixer {
  max-width: 715px;
  max-height: 402px;
  margin: 20px auto 0;
  overflow: hidden;
}

.vidCont {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.productVideo iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.productOffer {
  border: 1px solid red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offers {
  display: grid;
  grid: auto / 1fr 1fr;
  gap: 20px;
  border: 2px solid green;
}

.offerCont {
  border: 1px solid blue;
  display: flex;
  gap: 5px;
  /* width: 100%; */
  /* min-width: 48%; */
  /* width: fit-content; */
}

.offerCont .textCont {
  border: 1px solid brown;
  color: #6b7280;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .textCont div,
.textCont p {
  border: 1px solid green;
} */

.textCont p {
  /* border: 1px solid green; */
  font-size: 16px;
  height: 24px;
}

.textCont div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;

}

.offerItem {
  background-color: #e5e7eb;
  padding: 5px 14px;
  /* border: 1px solid red; */
  border-radius: 20px;
  /* height: 24px; */
  /* border-radius: 50%; */
}

.offerIcon {
  /* border: 1px solid red; */
  width: 24px;
  height: 24px;
  color: #9ca3af;
}

@media all and (max-width: 992px) {
  .offers {
    grid: auto / 1fr;
  }
}
